html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2020AA), to(#30FFAA));
    background-image: -webkit-linear-gradient(top, #2020AA, #30FFAA);
    background-image: -moz-linear-gradient(top, #2020AA, #30FFAA);
    background-image: linear-gradient(to bottom, #2020AA, #30FFAA);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.header {
    position: fixed;
    width: 100%;
    height: 59px;
    top: 0;
    left: 0;
    background-color: rgba(20, 20, 20, 0.7);
    z-index: 10;
    padding-left: 10px;
    -webkit-box-shadow: 0px -5px 30px 10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -5px 30px 10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -5px 30px 10px rgba(0, 0, 0, 0.75);
}

.header h1 {
    color: white;
    font-size: 18pt;
    font-weight: bold;
    vertical-align: center;
    float: left;
}

.menubar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.menubar .button {
    display: block;
    text-decoration: none;
    color: default;
    box-sizing: border-box;
    color: white;
    float: left;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    font-size: 16pt;
    font-weight: 100;
    transition-duration: 0.5s;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.menubar .button:hover {
    border-bottom: 1px solid white;
    transition-duration: 0.5s;
}

.button h1 {
    font-size: 14pt;
    font-weight: 100;
    vertical-align: center;
}

.main_gallery{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    height: 450px;
}

.main_gallery a{
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition-duration: 1.5s;
    cursor: pointer;
}

.main_gallery .selected_img{
    opacity: 1;
    transition-duration: 1.5s;
}

.main_gallery .button-bar{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
    height: 15px;
}

.main_gallery button{
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    z-index: 20;
    height: 15px;
    width: 15px;
    border: none;
    float: left;
    opacity: 0.7;
    bottom: 20px;
    border-radius: 15px;
    background-color: #AAAAAA;
    transition-duration: 0.25s;
    cursor: pointer;
}

.main_gallery button:hover{
    opacity: 1.0;
    transition-duration: 0.25s;
}
