        html,
        body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            background-color: rgb(60, 60, 60);
        }
        
        a {
            color: inherit;
            text-decoration: none;
        }
        
        .header {
            position: fixed;
            width: 100%;
            height: 60px;
            top: 0;
            left: 0;
            z-index: 10;
            padding-left: 10px;
            border-top-width: 0;
            border-left-width: 0;
            border-right-width: 0;
            border-bottom-width: 1px;
            border-style: solid;
            border-image: linear-gradient(to right, #2020AA, #30FFAA) 1 1;
        }
        
        .searchArea {
            position: relative;
            background-color: #888888;
            border: none;
            color: black;
            min-width: 240px;
            height: 23px;
            margin: none;
            margin-top: 15px;
            font-size: 18px;
            box-sizing: border-box;
            padding: 0;
            padding-left: 5px;
            padding-right: 5px;
            float: left;
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
        }
        
        .searchArea:focus {
            border-style: solid;
            border-width: 1px 0px 1px 1px;
            -moz-border-image: linear-gradient(to right, #2020AA, #30FFAA) 1 1;
            border-image: linear-gradient(to right, #2020AA, #30FFAA) 1 1;
        }
        
        .menubar a {
            display: inline-block;
            background-color: #888888;
            color: white;
            border: none;
            height: 23px;
            min-width: 23px;
            font-size: 18px;
            margin: 0;
            padding: 0;
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
            box-sizing: border-box;
            padding-top: 1px;
            margin-top: 15px;
        }
        
        .searchArea:focus+#menu_btn {
            border-style: solid;
            border-width: 1px 1px 1px 0px;
            border-color: #30FFAA;
        }
        
        .header h1 {
            color: white;
            font-size: 18pt;
            font-weight: bold;
            vertical-align: center;
            float: left;
        }
        
        .menubar {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
        }
        
        .button h1 {
            font-size: 14pt;
            font-weight: 100;
            vertical-align: center;
        }
        
        .error-text {
            color: #CC4444;
            display: inline-block;
            font-weight: normal;
            font-size: 16pt;
            vertical-align: center;
        }
        
        .logincntr {
            position: absolute;
            right: 20px;
            width: 300px;
            top: 20px;
            z-index: 11;
            color: FFFFFF;
            text-align: right;
        }

        .logincntr a{
            margin-left: 20px;
        }
        
        .loginStuff{
            position: absolute;
            top: 50px;
            right: 20px;
            width: 250px;
            height: 80px;
            border-radius: 5px;
            background-color: rgb(90, 90, 90);
            z-index: 4;
            display: none;
        }

        .registerStuff{
            position: absolute;
            top: 50px;
            right: 20px;
            width: 250px;
            height: 105px;
            border-radius: 5px;
            background-color: rgb(90, 90, 90);
            z-index: 4;
            display: none;
        }

        .loginStuff input[type="text"],
        .loginStuff input[type="password"],
        .registerStuff input[type="text"],
        .registerStuff input[type="password"]{
            width: 90%;
            margin-top: 5px;
            height: 20px;
            margin-left: 5%;
            box-sizing: border-box;
            border: none;
            border-radius: 3px;
            padding: 3px;
        }
        

        .loginStuff input[type="submit"],
        .registerStuff input[type="submit"]{
            margin-top: 5px;
            width: 80px;
            height: 20px;
            border-radius: 3px;
            background-color: #555555;
            border: none;
            font-size: 14px;
            color: white;
            float: right;
            box-sizing: border-box;
        }

        .loginStuff input[type="submit"]:hover,
        .registerStuff input[type="submit"]:hover{
            cursor: pointer;
        }

        .loginStuff input[type="text"]:focus,
        .loginStuff input[type="password"]:focus,
        .registerStuff input[type="text"]:focus,
        .registerStuff input[type="password"]:focus{
            border-width: 1px;
            border-style: solid;
            border-radius: 3px;
            padding: 2px;
            -moz-border-image: linear-gradient(to right, #2020AA, #30FFAA) 1 1;
            border-image: linear-gradient(to right, #2020AA, #30FFAA) 1 1;
        }

        .logoutcntr {
            position: absolute;
            right: 20px;
            width: 300px;
            top: 20px;
            color: FFFFFF;
            text-align: right;
        }
        
        .logoutcntr a {
            cursor: pointer;
            margin-left: 20px;
        }
        /*index*/
        
        .index-content {
            position: absolute;
            top: 70px;
            bottom: 10px;
            left: 10px;
            right: 10px;
        }
        
        .index-content h3 {
            margin: 0;
            color: white;
        }
        
        .index-sidebar {
            float: left;
            height: 100%;
            width: 0%;
            background-color: rgb(90, 90, 90);
        }
        
        .index-sidebar input[type="text"],
        .index-sidebar input[type="password"] {
            margin-top: 2px;
            margin-bottom: 2px;
            height: 23px;
            font-size: 16px;
            width: 100%;
            color: white;
            border: none;
            border-radius: 3px;
            padding: 3px;
            background-color: #888888;
        }
        
        .index-sidebar input[type="text"]:focus,
        .index-sidebar input[type="password"]:focus {
            border-width: 1px;
            border-style: solid;
            border-radius: 3px;
            padding: 2px;
            -moz-border-image: linear-gradient(to right, #2020AA, #30FFAA) 1 1;
            border-image: linear-gradient(to right, #2020AA, #30FFAA) 1 1;
        }
        
        .index-sidebar input[type="submit"] {
            height: 23px;
            border-radius: 3px;
            background-color: #555555;
            border: none;
            font-size: 16px;
            color: white;
            float: right;
            box-sizing: border-box;
            padding-right: 13px;
            padding-left: 13px;
            margin-top: 5px;
        }
        
        .index-sidebar input[type="submit"]:hover {
            cursor: pointer;
        }
        
        .index-sidebar input[type="submit"]:active {
            border-width: 1px;
            border-style: solid;
            padding-left: 12px;
            padding-right: 12px;
            -moz-border-image: linear-gradient(to right, #2020AA, #30FFAA) 1 1;
            border-image: linear-gradient(to right, #2020AA, #30FFAA) 1 1;
        }
        
        .index-sidebar #link_upload {
            width: 100%;
            border-bottom: 1px solid white;
        }
        
        .index-sidebar #link_upload:hover {
            border-top-width: 0;
            border-left-width: 0;
            border-right-width: 0;
            border-bottom-width: 1px;
            border-style: solid;
            -moz-border-image: linear-gradient(to right, #2020AA, #30FFAA) 1 1;
            border-image: linear-gradient(to right, #2020AA, #30FFAA) 1 1;
        }
        
        .index-videos {
            float: left;
            height: 100%;
            width: 100%;
            padding-left: 12px;
            padding-right: 12px;
            box-sizing: border-box;
            overflow-y: auto;
        }
        
        .video_button {
            width: 25%;
            position: relative;
            display: block;
            background-size: 100% 100%;
            float: left;
        }
        
        .video_button img {
            visibility: hidden;
            width: 100%;
        }
        
        .video_button:after {
            box-shadow: inset 0 0 2em #333;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            content: "";
            z-index: 2;
            transition-duration: 0.5s;
        }
        
        .video_button:hover {
            cursor: pointer;
        }
        
        @keyframes vignette-anim {
            0% {
                box-shadow: inset 0 0 2em #202088;
            }
            50% {
                box-shadow: inset 0 0 2em #30CC88;
            }
            100% {
                box-shadow: inset 0 0 2em #202088;
            }
        }
        
        .video_button:hover:after {
            box-shadow: inset 0 0 2em #202088;
            transition-duration: 0.5s;
            animation-name: vignette-anim;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }
        
        .video_button .author {
            position: absolute;
            bottom: 23px;
            right: 3px;
            color: white;
            font-size: 12pt;
            margin: 0;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
            z-index: 3;
            text-align: right;
        }
        
        .video_button .title {
            position: absolute;
            bottom: 2px;
            right: 3px;
            color: white;
            font-size: 16pt;
            margin: 0;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
            z-index: 3;
            text-align: right;
            right: 0;
        }
        /*player*/
        
        .playercontainer {
            width: 800px;
            height: 450px;
            position: absolute;
            top: 60px;
            right: 0;
            right: 300px;
            margin-left: auto;
            margin-right: auto;
        }
        
        .playercontainer * {
            position: absolute;
        }
        
        .playercontainer .playercontrols {
            width: 100%;
            height: 35px;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
        }
        
        .playercontrols progress {
            bottom: 30px;
            width: 100%;
        }
        
        .playercontrols .fa-play,
        .playercontrols .fa-pause {
            color: white;
        }
        
        .playercontrols .fa-volume-down {
            left: 30px;
        }
        
        .playercontrols button {
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: rgba(0, 0, 0, 0);
            border: none;
            position: absolute;
            float: left;
            margin: 10px;
            height: 20px;
            color: white;
        }
        
        .playercontrols #btn_240 {
            float: right;
            right: 150px;
            transition-duration: 0.5s;
        }
        
        .playercontrols #btn_240:hover {
            color: #2020AA;
            transition-duration: 0.5s;
        }
        
        .playercontrols #btn_240.selected {
            color: #2020AA;
        }
        
        .playercontrols #btn_480 {
            float: right;
            right: 110px;
            transition-duration: 0.5s;
        }
        
        .playercontrols #btn_480:hover {
            color: #258FAA;
            transition-duration: 0.5s;
        }
        
        .playercontrols #btn_480.selected {
            color: #258FAA;
        }
        
        .playercontrols #btn_orig {
            float: right;
            right: 40px;
            transition-duration: 0.5s;
        }
        
        .playercontrols #btn_fullscreen {
            float: right;
            right: 10px;
            transition-duration: 0.5s;
            cursor: pointer;
        }
        
        .fullscreen {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 20;
            width: 100%;
            height: 100%;
            margin: 0;
            background-color: rgb(0, 0, 0);
        }
        
        .playercontrols #btn_fullscreen:hover {
            color: #30FFAA;
            transition-duration: 0.5s;
        }
        
        .playercontrols #btn_orig:hover {
            color: #30FFAA;
            transition-duration: 0.5s;
        }
        
        .playercontrols #btn_orig.selected {
            color: #30FFAA;
        }
        
        .playercontrols .qualitybutton:hover {
            cursor: pointer;
        }
        
        .hidden {
            opacity: 0;
            transition-duration: 0.5s;
        }
        
        .hidden * {
            opacity: 0;
            transition-duration: 0.5s;
        }
        
        .playercontainer video {
            top: 0;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            right: 0;
        }
        
        progress {
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: rgba(255, 255, 255, 0.3);
            height: 10px;
            border: none;
        }
        
        progress[value]::hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 1);
        }
        
        progress[value]::-webkit-progress-bar {
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: rgba(255, 255, 255, 0.3);
            border: none;
        }
        
        progress[value]::-webkit-progress-value {
            background-image: -webkit-linear-gradient(left, #2020AA, #30FFAA);
            opacity: 2;
        }
        
        progress[value]::-webkit-progress-bar::hover {
            background-color: rgba(255, 255, 255, 1);
        }
        
        progress[value]::-moz-progress-bar {
            background-image: -moz-linear-gradient(left, #2020AA, #30FFAA), -moz-linear-gradient(top, #FFFFFF, #000000);
            opacity: 2;
        }
        
        progress[value]::-moz-progress-bar::hover {
            background-color: rgba(255, 255, 255, 1);
        }
        
        @keyframes repeatAnim {
            0% {
                background-color: #ffffff;
            }
            50% {
                background-color: #ff0000;
            }
            100% {
                background-color: #00FF00;
            }
        }
        
        progress:not([value])::-webkit-progress-bar {
            -webkit-appearance: none;
            border: none;
            animation-name: bar-progress;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(255, 255, 255, 0.5) 33%, rgba(255, 255, 255, 0.5) 66%, transparent 66%), -webkit-linear-gradient(left, rgba(32, 32, 170, 0.75), rgba(30, 255, 170, 0.75));
            background-size: 30px 100%, 100% 100%;
            background-position: -60px 0px, 0px 0px;
        }
        
        @keyframes bar-progress{
            0%{
                background-position: -60px 0px, 0px 0px;
            }
            50%{
                background-position: -30px 0px, 0px 0px;
            }
            100%{
                background-position: 0px 0px, 0px 0px;
            }
        }

        progress:not([value])::-moz-progress-bar {
            -moz-appearance: none;
            border: none;
            animation-name: bar-progress;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            background-image: -moz-linear-gradient(-45deg, transparent 33%, rgba(255, 255, 255, 0.5) 33%, rgba(255, 255, 255, 0.5) 66%, transparent 66%), -moz-linear-gradient(left, rgba(32, 32, 170, 0.75), rgba(30, 255, 170, 0.75));
            background-size: 30px 100%, 100% 100%;
        }
        
        .video_title {
            position: absolute;
            top: 500px;
            width: 800px;
            overflow-x: auto;
            display: block;
            left: 0;
            right: 300px;
            font-weight: normal;
            text-align: left;
            margin-left: auto;
            margin-right: auto;
            padding: 5px;
            border-radius: 3px;
            background-color: rgba(20, 20, 20, 0.9);
            color: white;
        }
        
        .video_description {
            position: absolute;
            width: 800px;
            top: 560px;
            font-weight: normal;
            left: 0;
            right: 300px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            height: 100px;
            padding: 5px;
            border-radius: 3px;
            background-color: rgba(20, 20, 20, 0.9);
            color: white;
        }
        
        .video_uploader {
            position: absolute;
            width: 800px;
            top: 500px;
            left: 0;
            right: 300px;
            margin-left: auto;
            margin-right: auto;
            font-weight: normal;
            text-align: right;
            padding: 5px;
            color: white;
        }
        
        .video_uploader a {
            text-decoration: none;
            color: rgb(20, 80, 255);
        }
        
        .suggested_videos {
            position: absolute;
            top: 70px;
            float: right;
            right: 10px;
            bottom: 10px;
            width: 280px;
            background-color: rgba(20, 20, 20, 0.9);
            border-radius: 5px;
            padding: 10px;
            color: white;
            font-size: 14pt;
        }
        
        h3 {
            font-weight: normal;
        }